@import url('fontello.css');

@font-face {
    font-family: PTS;
    src: url('font/PT_Sans.ttf');
}
body{
	padding: 0;
	margin: 0;
	font-family: PTS, sans-serif;
	font-size: 12px;
	min-width: 600px;
	min-height: 450px;
}

a{
	text-decoration: none;
	color: #2173af;
}

a:hover{
	text-decoration: underline;
	color: #2173af;
}

#data{
	width: 100%;
	height: 450px;
}

#graph{
	width: 490px;
	height: 380px;
	display: none;
}

.hide{
	display: none;
}

#id_ms_thr, #id_pj{
	position: relative;
}

/* =========================== NEW MSG =============================== */

#msg_text{
	width: 504px;
	height: 40px;
	border: 1px Solid Silver;
	border-radius: 4px;
}

#msg_new{
	position: absolute;
	bottom: 0;
	height: 50px;
	width: 550px;
}

#msg_send {
	float: right;
	width: 21px;
	height: 33px;
	font-size: 22px;
	color: Gray;
	cursor: pointer;
	padding-top: 10px;
	padding-right: 7px;
	border: 1px Solid silver;
	margin-right: 5px;
	border-radius: 4px;
	background: aliceblue;
}

#msg_feed{
	max-height: 400px;
	overflow-x: auto;
}

#id_fl, #id_fd, #id_pj, #id_ms{
	max-height: 450px;
	overflow-x: auto;
}

#id_st, #id_us, #id_ab, #id_fk{
	max-height: 450px;
}

#project {
	display: block;
	width: 525px;
	height: 75px;
	margin-top: 0px;
	padding-bottom: 3px;
	margin-bottom: 5px;
	border-radius: 5px;
	border: 1px Solid rgb(240, 236, 236);
}

#project:hover{
	background: #F1F1F1;
}

#thread {
	background: #F7F8FA;
	display: block;
	width: 525px;
	height: 75px;
	margin-top: 0px;
	padding-bottom: 3px;
	margin-bottom: 5px;
	border-radius: 5px;
	border: 1px Solid rgb(240, 236, 236);
}

#thread:hover{
	background: #F1F1F1;
}

#filter{
	float: left;
	text-decoration: none;
	color: #2173af;
	cursor: Pointer;
	padding-left: 10px;
}

#refresh{
	float: left;
	text-decoration: none;
	color: #2173af;
	cursor: Pointer;
	padding-left: 10px;
}

#me_off{
	float: left;
	text-decoration: none;
	color: #2173af;
	cursor: Pointer;
	padding-left: 10px;
}

.off{
	color: Red !important;
}

.idiv{
	padding: 5px;
}

/* =========================== CheckBox =============================== */

#blk{
	display: block;
	float: left;
	width: 255px;
}

input[type=checkbox]{
	border: 2px Solid Silver;
	background: Gray;
}

input[type=checkbox]:checked + .clabel:before {  
    content: "\2713";  
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);  
    font-size: 15px;  
    color: #f3f3f3;  
    text-align: center;  
    line-height: 15px;  
} 

input[type=checkbox] {  
    display: none;  
}

.checkbox .clabel:before {  
    border-radius: 3px;  
} 

.clabel {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 22px;
	margin-right: 15px;
	font-size: 13px;
	margin: 5px;
	margin-left: 15px;
	font-family: arial;
	font-weight: bold;
	font-size: 12px;
}

.clabel:before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: #768F9E;
	border-radius: 4px;
}

/* =========================== CheckBox =============================== */

#u_name{
	color: rgb(52, 39, 39);
	font-weight: bold;
	cursor: pointer;
}

#flicks, #flicks2 {
	margin-right: 10px;
	padding: 2px 5px;
	color: #fff;
	font-weight: 700;
	text-shadow: 1px 1px #888;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #e47f18;
	background-color: #ff8e1b;
	cursor: Pointer;
}






#uad{
	text-decoration: none;
	color: #2173af;
}

#uad:hover{
	cursor: Pointer;
	text-decoration: underline;
	color: #2173af;
}

#content{
	width: 100%;
}

#umnew2{
	background: 0 0/100% #2191ed;
	position: absolute;
	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 3px;
	color: White;
	font-weight: bold;
	font-size: 9px;
	left: 24px;
}

#umnew{
	background: 0 0/100% #2191ed;
	padding: 4px;
	border-radius: 3px;
	float: right;
	color: White;
	font-weight: bold;
	font-size: 10px;
	margin-right: 10px;
}

.itrue{
	font-weight: bold;
}

#feed_id{
	padding: 3px;
	background: White;
	border-bottom: 1px Solid rgba(135, 206, 235, 0.36);
	border-left: 3px Solid transparent;
	border-right: 3px Solid transparent;
}

#feed_id:hover{
	border-left: 3px Solid Green;
	border-right: 3px Solid Green;
	background: ghostwhite;
}

#user{
	display: block;
	bottom: 0;
	width: 100%;
	height: 40px;
	background: rgba(192, 192, 192, 0.45);
	vertical-align: middle;
	line-height	: 40px;
	text-align: right;
}

#user span{
	margin-right: 10px;
}


h1 { 
	font-size: 120%; 
	height: 50px; 
	display: block;
}

h1 img {
	margin: 1px 5px 0 1px;
	vertical-align: middle
}

h2 {
	border-top: 1px solid #9cc2ef;
	background-color: #ebeff9;
	padding: 3px 5px;
	font-size: 100%
}


#d5 p{
	font-size: 13px;
	line-height: 20px;
	padding: 6px;
}

/* ======================================================================== */

#d6{
	display: block;
	width: 100%;
	height: 100%;
}

#user_data{
	width: 530px;
}

#iframe1 {
	border: 0;
    width: 526px;
	height: 185px;
	padding: 0;
	margin: 0;
}

#custom{
	display: block;
}

#custom img{
	max-width: 440px;
}

.img-thm {
	width: 180px;
	height: 180px;
	display: inline-block;
	max-width: 100%;
	height: auto;
	padding: 4px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
}

/* ======================================================================== */

#id_st #data{
	line-height: 20px;
	padding-left: 5px;
}

#id_ab p{
	line-height: 20px;
	padding-left: 10px;
}

#logo{
	float: left;
	padding: 10px;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

#title{
	padding-top: 3px;
	padding-bottom: 4px;	
	display: block;
	font-weight: bold;
	font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	max-width: 450px;
}

#title small{
	color: Silver;
	font-size: 11px;
}

#info{
	display: block;
	font-weight: bold;
	font-size: 11px;
	color: Silver;
}

#info span{
	margin-right: 10px;
}

.new_true{
	background: #F1F1F1 !important;
}

.blink {
    background: rgba(255, 0, 0, 0.14);
}

span.uprice {
	color: blue;
	float: right;
}

#msglogo{
	margin: 5px;
	width: 50px;
	height: 50px;
	display: inline-block;
}

#msgbody{
	margin: 5px;
	width: 430px;
	display: inline-block;
	word-wrap: break-word;
}

#msgbody p{
	margin: 0;
	padding: 0;
	line-height: 20px;
}

blockquote {
	margin-left: 10px;
	border-left: 2px Solid green;
	padding: 5px;
	padding-left: 10px;
	background: #F8F4F4;
}

#msg{
	display: block;
	width: 525px;
	height: auto;
	min-height: 60px;	
	border-bottom: 1px dashed #CCCCCC;
}

#msg:hover{
	background: #F1F1F1;
}

#mstitle{
	padding-top: 10px;
	padding-bottom: 4px;	
	display: block;
	font-weight: bold;
	font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	max-width: 400px;
}

#msdesc{
	font-family: calibri;
	display: block;
	/* font-weight: bold;  */
	font-size: 13px;
	min-height: 15px;
	max-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
	margin-bottom: 4px;
	cursor: pointer;
}

#desc{
	font-family: calibri;
	display: block;
	/* font-weight: bold;  */
	font-size: 13px;
	min-height: 30px;
	max-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
	margin-bottom: 4px;
	cursor: pointer;
}

.undefined{
	background: #F5F5F5;
}

.readed{
	background: White;
}

#tab-container
{
   margin: 0;
   width: 45px;
   background: #555;
   height: 492px;
   vertical-align: top;
}

#tab-container ul
{
   margin: 0;
   padding: 0;
   list-style: none;
}

#tab-container ul li{
   text-decoration: none;
   color: #666;
   display: block;
   padding: 15px 10px;
   color: White;
   font-size: 16px;
}

#tab-container ul li:hover
{
	background-color: #777;
}

#tab-container ul li.selected
{
   background-color: #fff;
   color: Black;
}

#container
{
	height: 100%;
	width: 100%;
	background-color: #fff;
	vertical-align: top;
}

#main-container {
	height: 480px;
	background-color: #fff;
	vertical-align: top;
	overflow: auto;
	overflow-x: hidden;
}

#d5{
	margin-left: 10px;
}

#d2, #d3, #d4, #d5, #d6 {
	display: none;
}

#eloading{
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.35;
	display: none; 
	cursor: Pointer;
	color: White;
}

#eloading div{
	font-size: 25px;
	opacity: 1;
    padding-top: 200px;
    margin: 0 auto;
	text-align: center;
}

#loading{
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.15;
	display: none; 
}

#loading img{
	position: fixed;
    top: 45%;
    left: 50%;
    margin: -62px 0 0 -62px;
}

/* ====================================================== */

.form-list{	
	padding-bottom: 0;
	margin-bottom: 0;
}	
		
.form-list .item{
	text-align: left;
	margin: 0px 0px 6px;
	font: 13px/1.5 "Trebuchet MS", Tahoma, Arial;
}

.form-list .item label{
	font-size: 13px;
	font-weight: bold;
	color:#000;
	margin-left:1px;
}	

.form-list .item span{
	padding-right: 5px;
	/* margin-top: 10px; */
}
			
.form-list .item label.descript{
	font-size: 9pt;
	color: #9B9B9B;
	font-weight:normal;
	line-height:17px;
	padding-top:3px;
}

#settings{
	padding-left: 8px;
	padding-right: 8px;
}

.button{
	background: #70baeb;
	background-image: -webkit-linear-gradient(top, #70baeb, #55aee6);
	background-image: -moz-linear-gradient(top, #70baeb, #55aee6);
	background-image: -ms-linear-gradient(top, #70baeb, #55aee6);
	background-image: -o-linear-gradient(top, #70baeb, #55aee6);
	background-image: linear-gradient(to bottom, #70baeb, #55aee6);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-family: Arial;
	color: White;
	cursor: Pointer;
	font-size: 12px;
	padding: 5px 5px 5px 5px;
	text-decoration: none;
	font-weight: bold;
	border: 0;
	text-align: center;
	width: 81px;
}

.feed-thumbnail {
	max-width: 100px;
}

/*  ======================================== CHAT ===================================== */

#logo img, #msglogo img{
	border-radius: 6px;
	/* border: 2px Solid white; */
}

.chat {
	position: relative;
	background-color: #E8E8E8;
	min-height: 26px;
	color: Black;
	border-radius: 10px;
	font-family: monospace;
	padding: 10px;
	font-size: 12px;
	line-height: 21px;
}
.chat:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: 10px solid transparent;
}
 
.chat-right:after {
	border-left-color: #E8E8E8;
	left: 100%;
	top: 50%;
	margin-top: -15px;
}
  
.chat-left:after {
	border-right-color: #E8E8E8;
	top: 50%;
	right: 100%;
	margin-top: -15px;
}